.Form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 30px;
}

.Label {
  /* max-width: 400px; */

  display: flex;
  flex-direction: column;
  /* align-self: center; */
  margin-bottom: 20px;
}

.Input {
  /* max-width: 400px; */
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #d8d8d8;
  background-color: #bbb1be;
}

.Input:focus {
  box-shadow: 1px 2px 2px #095fcc;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* max-width: 400px; */
  /* width: 400px; */
  height: 30px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #d8d8d8;
  background-color: rgb(216, 227, 243);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.Button:hover,
.Button:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #55ac57;
  border: 1px solid transparent;
  color: #ffffff;
}
